<!-- inGame UI -->
<div id="inGameUI" class="in-game-ui-wrapper">
    <div class="player-block">
        <span id="playerName" class="name">Player</span>
        <div id="playerHealthBar" class="player-health-bar"  ><div id="playerH" class="hb-fl"></div></div>
    </div>
    <div id = "score" class="score">score</div>
    <div class="enemy-block">
        <p id="enemyName" class="name"></p>
        <div id="enemyHealthBar" class="enemy-health-bar" ><div id="enemyH" class="hb-fl"></div></div>
        <p id="enemyNick" class="nick"></p>
    </div>
    <div class="down-btn-ui-block">
        <button id="turnMainBtn" class="game-btn" disabled>Your Turn </button>
    </div>
</div>