
*,*::before,*::after {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    
}
.description-section, .description-section-alt{overflow-y: hidden;}

.clearfix::before,.clearfix::after {
    clear: both;
    zoom: 1;
    content:"";
    display: block;
}



@font-face {
    font-family: "GenBasR";
    src: url('../fonts/GenBkBasB.ttf');
}

@font-face {
    font-family: "GenBasB";
    src: url('../fonts/GenBkBasR.ttf');
}

@font-face {
    font-family: "LatoBlack";
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "YesevaOne";
    src: url('../fonts/YesevaOne-Regular_v2.otf');
}

* {
    /* border: 1px dotted brown; */
}
body {
    font-family: "LatoBlack";
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-image: url(../images/pattern.png);
    background-color: #ececec; 
    position: relative;
}

.site-wrapper {
    position: relative;
    width: 1600px;
    min-height: calc(100vh - 320px);
    margin: 0 auto;
    background-color: rgb(140, 0, 255);
    background: rgba(0,0,0,0.67);
    /*background: linear-gradient(from,to); */
}


.logo {
    display: block;
    float: left;
    height: 110px;
    padding-top: 47px;
    padding-left: 4px;
}

nav {
    display: block;
    float: right;
    width: 836px;
    font-size: 0px;
}

nav li {
 display: inline-block;
 position: relative;
 height: 110px;
}

nav a {
    display: block;
    padding: 49px 26px 40px 26px;
    height: 110px;
    font-family: "GenBasR";
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

nav li:last-of-type a {
    padding: 49px 19px 40px 26px;
}
nav .active::before{
    content: "";
    display: block;
    width: auto;
    height: 3px;
    position: absolute;
    right: 10px;
    left: 10px;
    top: 0px;
    background: rgba(253, 253, 253, 0.7);
}

nav a:hover {
    
}

.social-icons {
    font-size: 0;
    display: block;
    float: right;
    height: 110px;
    padding: 50px 0px 40px 0; 
}

.social-icons a {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../images/icons-social-header.png) center center no-repeat;
}

.social-icons a.tw {
    background-position: -0px 0px;
    margin-right: 13px;
}

.social-icons a.yt {
    background-position: -35px 0px;
    margin-right: 2px;
}

.social-icons a.fb {
    background-position: -59px 0px;
}

section {
    display: block;
}

.row-container {
    width: 1250px;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.main-header {
    display: block;
    position: absolute;
    width: 1600px;
    height: 150px;
    background:linear-gradient(to top , rgba(0, 0, 0, 0) 5% , rgba(0,0,0,0.6));
    
    
}

.main-header .row-container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 40px;
    
}

.promo {
    height: 750px;
    background: url(../images/promo-section-bg.jpg) no-repeat 100% ;
    background-origin: border-box;
}

.promo .row-container {
    font-size: 0;
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;
}

h1,h2,h3 {
    font-family: "YesevaOne";
    font-weight: 100;
    position: relative;
}

.promo h1 {
    margin: 0 auto;
    margin-top: 115px;
    margin-bottom: 102px;
    width: 970px;
    font-size: 90px;
    font-weight: 100;
    text-align: center;
    color: white;
    line-height: 1.3em;
    /* letter-spacing: 0.05em; */
}

.promo h1::after {
    display: block;
    content: "";
    background: url(../images/decoration-preview.png) no-repeat center center;
    width: 232px;
    height: 43px;
    margin-left: -113px;
    position: absolute;
    left: 50%;
    bottom: -68px;

}

.btn {
    display: inline-block;
    width: 228px;
    height: 57px;
    line-height: 57px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "LatoBlack";
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-right: 30px;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,8);
}

.btn + .btn {
    margin-right: 1px;
}

.btn-alt {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.about {
    min-height: 710px;
    box-shadow: inset 0 0 75px rgba(0, 0, 0, 0.13);
    background:linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0,0,0,0.1)), 
                url(../images/pattern.png);
}

.about .row-container {
    padding-left: 40px;
    position: relative;
}

.col-content-container {
    width: 430px;
    height: ;
    text-align: center;
    margin: 0 auto;
}


.about img.cook {
    display: block;
    position: relative;
    margin-top: 49px;
    left: calc(50% - 75px);
}

.about img.dishes {
width: 551px;
    height: 549px;
    position: absolute;
    top: calc(50% - 275px);
    left: calc(50% - 23px);
    border-radius: 50%;
    
    box-shadow: -5px 22px 50px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 64px;
    font-size: 36px;
    color: #FFFFFF;
}

h2::after {
    display: block;
    content: "";
    background: url(../images/decoration-divider-white.png) no-repeat center center;
    width: 247px;
    height: 24px;
    margin-left: -123px;
    position: absolute;
    left: 50%;
    bottom: -40px;
}

p {
    font-family: "LatoBlack";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    }

.about h2 {
}

.about h2::after {
}

.ingridients {
 min-height: 758px;
 background: url(../images/ingredients-section-bg.jpg) no-repeat 100% ;
 background-origin: border-box;
}

.ingridients .row-container {
    padding-left: 40px;
    padding-right: 40px;
}

.description-section, .description-section-alt {
    display: block;
    background: rgba(0,0,0,0.6);
    width: 570px;
    height: 557px;
    padding: 75px 70px;
}

.description-section-alt {
    padding: 0px 70px 0px 70px;
    height: auto;
    background: none;
}

.description-section p, .description-section h2 {
    color: #f5f5f5;
}

.description-section-alt h2 {
    color: #d8a200;
    margin-bottom: 64px;
    font-size: 36px;
}

.description-section-alt h2::after {
    display: block;
    content: "";
    width: 247px;
    height: 24px;
    margin-left: -125px;
    position: absolute;
    left: 50%;
    bottom: -38px;
    background: url(../images/decoration-divider-yellow.png) no-repeat center center;
}

.ingridients .description-section {
    float: right;
    font-size: 0;
}

.ingridients .description-section p,
.about .description-section p
{
    height:   120px;
    overflow: hidden;  
}

.ingridients .description-section img {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 68px;
    margin-right: 30px;
    object-fit: none; 
    /* contain cover none */
    border: 5px solid rgba(156, 156, 156, 0.192);
    border-radius: 50%;
}

.ingridients .pict:last-of-type {
    margin-right: 0px;
}

.menu {
    box-shadow: inset 0 0 75px rgba(0, 0, 0, 0.13);
    background:linear-gradient(to left, rgba(0, 0, 0, 0) 25%, rgba(82, 82, 82, 0.1)), 
                url(../images/pattern-five-angles.png);
}

.menu .row-container {
    display: block;
    column-count: 2; 
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;
}

.menu .description-section-alt {
    vertical-align: top;
    break-inside:avoid;
    padding-bottom: 61px;
}
.menu .description-section-alt .col-content-container {
    width: 430px;
}

.menu .description-section-alt .col-content-container h2 {
    margin-bottom: 66px;
}

.item-section {
    margin-bottom: 32px;
}

.item-section:last-of-type {
    margin-bottom: 0px;
}

.item-header{
    position: relative;
    padding-bottom: 7px;
    border: 2px solid #d8a200;
    border-image: url(../images/gold-line.png) 1;
    border-image-repeat:  stretch;
    border-width: 0 0 1px 0;
}

.special {
    position: relative;
    border: 1px solid #d8a200;
    border-image: url(../images/gold-border.png) 1;
    border-image-slice: 1;
    border-image-outset: 6px 10px 8px 10px;
    border-image-repeat: round;
    border-width: 1px;
    margin-top: -1px;
    margin-bottom: 32px;
}

.special::before {
    content: "Special";
    display: block;
    position: absolute;
    top: -28px;
    right: -11px;
    font-family: "LatoBlack";
    font-size: 13px;
    color: white;
    width: 68px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: url(../images/gold-bg.png) ;
}

.item-name, .item-price {
    font-family: "YesevaOne";
    font-size: 21px;
    color: #d8a200;
}

.item-name {
    float: left;
}

.item-price {
    float: right;
}

.item-description {
    padding-top: 9px;
    text-align: left;
}

.reviews {
    min-height: 758px;
    background: url(../images/reviews-section-bg.jpg) no-repeat  ;
    background-origin: border-box;
}

.reviews .description-section {
    width: 770px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8)
}



.reviews .description-section h2 {
    margin-bottom: 58px;
}

.reviews .description-section  blockquote {
    size: 18px;
    line-height: 24px;
    position: relative;
}

.reviews .description-section blockquote::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -16px;
    left: -43px;
    opacity: 0.5;
    background: url(../images/quote-sign.png) 0 10px no-repeat;
}

.reviews .description-section blockquote p {
    
    font-family: "GenBarR";
    color: white;
    font-weight: 600;
    font-size: 25px;
    word-spacing: 2px;
    line-height: 45px;
    text-indent: 3px;
    height: 223px;
    overflow: hidden;
}

.reviews .description-section blockquote cite {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    font-family: "LatoBlack";
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    font-style: normal;
    color: white;
}

.reviews .description-section .col-content-container {
    width: 620px;
}

.reservations {
    height: 710px;
    box-shadow: inset 0 0 75px rgba(0, 0, 0, 0.13);
    background:linear-gradient(to left, rgba(82, 82, 82, 0.075) 25%, rgba(82, 82, 82, 0.075)), 
                url(../images/pattern.png);
}

.reservations .row-container {
    padding-left: 40px;
    padding-right: 40px;
}

.reservations .description-section-alt {
    float: right;
    padding-bottom: 0px;
}

.reservations .description-section-alt h2 {
 line-height: 0.9em;
 margin-bottom: 69px;
}

.reservations .description-section-alt h2::after {
    bottom: -42px;
}

.reservations .description-section-alt p {
 line-height: 24px;
 margin-bottom: 12px;
}

.reservations .description-section-alt .text-container {
    height: 152px;
    overflow: hidden;
   }

.reservations img {
    display: block;
    float: left;
    width: 270px;
    height: 507px;
    margin-right: 30px;
}

form {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

form fieldset {
    margin-top: 36px;
    border: none;
}

form label{
    display: block;
    float: left;
    margin-bottom: 28px;
}

form label:nth-of-type(2n){
    display: block;
    text-align: left;
    float: right;
}

form .input-title {
    color: #dda200;
    font-size: 14px;
    font-weight: 700;
}

form .input-field {
    display: block;
    margin: 0 auto;
    margin-top: 6px;
    width: 200px;
    background:rgba(253, 253, 253, 0.7);
    height: 36px;
    padding: 0 11px 0 14px;
    border: 1px solid #c8c6c6;
}

form .input-group {
    display: flex;
    margin-top: 6px;    
    position: relative;
}

form .input-group .text {
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    width: 200px;
    height: 36px;
    flex: 1 1 auto;
    border: 1px silver solid;
    border-right: none;
}

form .input-group .append {
    display: block;
    position: absolute;
    right: 0;
    height: 36px;
    width: 30px;
    border: 1px silver solid;
    border-left: none;
    background: rgba(253, 253, 253, 0.2);
}

form .input-group .number + .append {
    background: url(../images/number-icon.png) center center no-repeat;
}

form .input-group .date + .append {
    background: url(../images/date-icon.png) center center no-repeat;
}

form .focus {
    border: 1px solid #dda200;
}

form .input-field::placeholder{ 
    font-size: 17px;
    font-style: italic;
}

form input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 2px;
    font-size:  16px;
    color: white;
    background: #dda200;
    width: 200px;
    height: 36px;
    border: none;
}

.main-footer {
    background: #191919; 
    height: 320px; 
}

.main-footer .row-container {
    padding-top: 52px;
    padding-bottom: 50px;
    text-align: center;
}

.main-footer .description-section {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    padding-bottom: 20px;
    margin-right: 30px;
    width: 370px;
    height: 218px;
    background: none;
}

.main-footer .description-section p {
    font-size: 17px;
    max-height: 117px;
    overflow: hidden;
}

.main-footer .description-section:last-of-type {
    margin-right: 0px;
}

.main-footer .description-section h2{
    font-size: 21px;
    margin-bottom: 53px;
}
.main-footer .description-section h2::after{
    display: block;
    content: "";
    background: url(../images/decoration-divider-footer.png) no-repeat center center;
    width: 199px;
    height: 19px;
    margin-left: -99px;
    position: absolute;
    left: 50%;
    bottom: -35px;
}

.main-footer .description-section .col-content-container {
    padding-top: 5px;
    width: 355px;
}

.cards {
    display: block;
    margin: 0 auto;
    height: 110px;
    padding: 50px 0px 40px 0; 
    font-size: 0px;
}

.cards a {
    display: inline-block;
    width: 22px;
    height: 15px;
    background: url(../images/icons-cards.png) 0 0 no-repeat;
    
    margin-right: 10px;
}

.cards a.maestro {
    background-position: -0px 0px;
}

.cards a.mastercard {
    background-position: -33px 0px;
}

.cards a.visa {
    background-position: -66px 0px;
}
.cards a.tinideal {
    background-position: -98px 0px;
}
.cards a:last-of-type {
    margin-right: 0px;
}

.main-footer .soc-icons {
    display: block;
    margin: 0 auto;
    height: 110px;
    padding: 50px 0px 40px 0;
}

.main-footer .soc-icons a {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/icons-social-footer.png) 0 0 no-repeat;
    margin-right: 10px;
}

.main-footer .soc-icons a:last-of-type {
    margin-right: 0px;
}

.main-footer .soc-icons a.fb {
    background-position: 5px 0px;
}

.main-footer .soc-icons a.yt {
    background-position: -20px 0px;
}
 
.main-footer .soc-icons a.tw {
    background-position: -46px 0px;
} 

.main-footer .soc-icons a.tumbler {
    background-position: -73px 0px;
}



