
    <div id="historyTask" class = "task history-block">
        <div class="block description-block">
            <p id="description" class = "description" > </p>
        </div>

        <div class="block question-block">
            <p id="question" class = "question" > </p>
        </div>

        <div  id="answerBlock" class="block answer-block">
            
                <div class="answer"><input type="radio" name="answer" id="answer1" value="answer1"><label for="answer1"><span></span></label></div>
                <div class="answer"><input type="radio" name="answer" id="answer2" value="answer2"><label for="answer2"><span></span></label></div>
                <div class="answer"><input type="radio" name="answer" id="answer3" value="answer3"><label for="answer3"><span></span></label></div>
                <div class="answer"><input type="radio" name="answer" id="answer4" value="answer4"><label for="answer4"><span></span></label></div>
           
            </div>

        <div  id="verdictBlock" class="block verdict-block">
            <p id="verdict"></p>
        </div>
        <div class="submit-block">
            <button id="readyBtn" class="game-btn">Ready</button>
        </div>
    </div>

