*,*::before,*::after {
     box-sizing: border-box;
     padding:0px;
     margin:0px;
 }

 .clearfix::before,.clearfix::after {
     clear: both;
     zoom: 1;
     content:"";
     display: block;
 }

.btn {
     display: block;
     width: 200px;
     height: 50px;
     margin: 0 auto;
     margin-top: 40px;
     margin-bottom: 40px;
     background: lightblue;
     border: 0 solid #5A5A5A;
     border-radius: 4px; 
     cursor: pointer;
     font-size: 20px;
     text-align: center;

}

p {
     margin-top: 0px;
     margin-bottom: 0px;
     font-size: 1rem;
}

h2 {
     font-size: 25px;
}

span {
     display: block;
     line-height: 1rem;
}

.modal{
     display: none;
     height: 100%;
     width: 100%;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     overflow: auto;
     background-color: rgba(0,0,0,0.05);
}

.modal-content{
     position: absolute;
     width: 550px;
     min-height: 200px;
     right: 40px;
     top: 40px;
     background-color: #fefefe;
     border: 1px solid gray;
     border-radius: 10px;
     background-color: white;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
     -webkit-animation-name: animatetop;
     -webkit-animation-duration: 0.4s;
     animation-name: animatetop;
     animation-duration: 0.4s
}

.modal-content .body {
     padding: 20px;
}

.close-element {
     position: absolute;
     font-size: 30px;
     font-weight: bold;
     color: darkslategray;
     top: 20px;
     right: 20px;
     cursor: pointer;

}

.info-block {
     width: 430px;
     border: 2px  solid black;
     padding: 0px;
     margin: 0px;
     overflow: hidden;
}

.info-block .info-block-wrapper {
     position: relative;
     list-style: none;
     height: 100%;
     width: 9999%;
     padding: 0;
     margin: 0;
     transition: all 750ms ease;
     left: 0px;
     font-size: 0px;
}

.info-block .info-block-wrapper li {
     position: relative;
     width: 430px;
     height: 100%;
     padding: 15px;
     display: inline-block;
     vertical-align: top;
}

.footer {
     padding: 20px;
     background-color: whitesmoke;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}

.disable-checkbox {
     float: left;
     font-size: 18px;
     user-select: none;

}

.disable-checkbox input {
     margin-right: 5px;
     vertical-align: middle;
}

.slider-nav {
     float: right;
     font-size: 0px;
}

.slider-nav ul {
     display: inline-block;
     list-style: none;
     padding: 0px;
     height: 20px;

}

.slider-nav ul li {
     display: inline-block;
     vertical-align: middle;
     padding-right:10px;
}

.slider-nav ul li:last-of-type {
     padding-right: 0px;
}

.slider-nav .dot {
     display: block;
     width: 10px;
     height: 10px;
     background: gray;
     border-radius: 50%;
     cursor: pointer;
}

.slider-nav .dot.active {
     background: blue;
}

.slider-nav a {
     text-decoration: none;
}

.slider-nav .arrow {
     position: relative;
     vertical-align: middle;
     display: inline-block;
     height: 25px;
     width: 25px;
     text-align: center;
     border: 1px solid darkgrey;
     border-radius: 50%;
     background: white;
     cursor: pointer;
}


.slider-nav .left.arrow {
     margin-right: 20px;
}
.slider-nav .left.arrow::before {
     content: "<";
     font-size: 16px;
     color: gray;
     position: relative;
     top: 2px;
     left: -1px;
}

.slider-nav .right.arrow::before {
     content: ">";
     font-size: 16px;
     color: gray;
     position: relative;
     top: 2px;
     left: 1px;
}

.slider-nav .right.arrow {
     margin-left: 20px;
}

