$grid-gap-v: 0px;
$grid-gap-h: 0px;
$grid-auto-rows: minmax(50px,auto);

$descktop-size: 1200px;
$tablet-size: 768px;

$header-font:'ArialNarrow';
$main-font:'Arial';
$logo-font:'TrendSansOne';
$iconic-font:'SocialGliphs';
$rel-content-font:'CantarellRegular';

$blogpost-header-bg: #f4f5f6;
$btn-bg-color: #7ca7d9;
$theme-color: #6b9ad0;
$headers-color: #5d6871;
$text-color: #69747c;
$lines-color: #e2e5e8;
$menu-line-color: #c6defa;
$monochrome-btn-color: #d6dee6;

$fb-color: #3c5a98;
$g-color: #c25234;
$tw-color: #00aced;
$vk-color: #48729e;
$ok-color:#d83933;


*,*::before,*::after {
    padding: 0px; margin: 0px;
    box-sizing: border-box;
}

p, address,time { font: 12px/18px $main-font, Helvetica, sans-serif; color: $text-color;}
@font-face {
    font-family: 'Socicon';
    src:  url('../fonts/Socicon.eot?6abp0d');
    src:  url('../fonts/Socicon.eot?6abp0d#iefix') format('embedded-opentype'),
    url('../fonts/Socicon.woff2?6abp0d') format('woff2'),
    url('../fonts/Socicon.ttf?6abp0d') format('truetype'),
    url('../fonts/Socicon.woff?6abp0d') format('woff'),
    url('../fonts/Socicon.svg?6abp0d#Socicon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArialNarrow';
    src: url('../fonts/arial-narrow.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TrendSansOne';
    src: url('../fonts/Trend-Sans-One.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CantarellRegular';
    src: url('../fonts/Cantarell-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    display: grid;
    grid-gap: #{$grid-gap-v} #{$grid-gap-h};
    grid: " main-header" minmax(32px,auto)
            " main-content "
            " loading-spinner "
            / auto;
    grid-auto-rows: $grid-auto-rows;
    justify-content: stretch;
    @media (min-width: $tablet-size) {
    }
}

.main-header {
    grid-area: main-header;
    .logo {
        a{text-decoration: none;}
        text-align: center;
        margin: 10px auto;
        @media (min-width:$tablet-size) { margin: 13px auto; }
        span,img {vertical-align: middle;}
        img {width:34px}
        @media (min-width:$tablet-size) { img {width:56px} }
        span {
            text-transform: uppercase;
            font: 24px  $logo-font;
            @media (min-width:$tablet-size) { 
                font: 35px/35px  $logo-font;
            }
            color:$theme-color;
        }
    }
    .main-nav {
        background-color: $theme-color;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: $tablet-size){ justify-content: space-between; }
        .main-nav-panel {
            display: flex;
            @media (max-width: $tablet-size){padding: 1.5px;}
            @media (min-width: $tablet-size){ width: 100%; 
                    justify-content: space-between; align-items: center;
                    box-shadow: inset 0px -4px 0px $menu-line-color; }
            @media (min-width: $descktop-size){justify-content: center; }
            .btn {
                display: inline-block;
                @media (min-width: $descktop-size){display: none;}
                position:relative;
                @media (max-width: $tablet-size){margin: 1.5px;}
                background-color: $btn-bg-color;
                &:hover{ background-color: $menu-line-color;
                }
                width: 30px; height: 30px;
                @media (min-width: $tablet-size){
                    width:45px; height: 53px;
                    top:-3px;
                }
                &.tags-btn {
                @media (min-width: $tablet-size){display: none;}
                }
                &.info-btn::before {
                    content:"!";
                    position: absolute;
                    font: 24px $rel-content-font;
                    color: $theme-color;
                    top: 10px;
                    left:40%;
                    @media (max-width: $tablet-size){
                        font-size: 20px;
                        top:0px;
                    }
                }
                &.about-btn::before {
                    @extend .info-btn::before;
                    content:"?";
                    left: 35%;
                }
                &.tags-btn::before{
                    @extend .info-btn::before;
                    content:url('../img/tag-icon.png');
                    top:1px; left: 18%;
                }
            }
            .nav-content {
                @media (min-width: $tablet-size){display: initial}
                display: none;
                text-align: center;
                text-transform: uppercase;
                li {

                    &:hover{
                        background-color: $btn-bg-color;
                        box-shadow: inset 0px -4px 0px $menu-line-color;
                    }
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    a {
                        display: inline-block;
                        padding: 21px 30px;
                        user-select: none;
                        text-decoration: none;
                        font: 18px/18px $rel-content-font;
                        color: white;
                    }
                    &.active::before{
                        content: "";
                        display: block;
                        position: absolute;
                        left:42%;
                        bottom:-3px;
                        width: 0px; height:0px;
                        z-index: 0;
                        border: {
                            right:8px solid $theme-color;
                            top:8px solid $theme-color;
                            bottom: 8px solid transparent;
                            left: 8px solid transparent;
                        };
                        transform: rotate(142deg) skew(15deg);
                        box-shadow: 4px -4px 0px $menu-line-color;
                    }
                    &.active:hover::before{
                        border-right:8px solid $btn-bg-color;
                        border-top:8px solid $btn-bg-color;
                    }
                }
            }
        }
        .nav-btn {
            background-color: transparent;
            border: none;
            align-self: center;
            margin-right: 10px;
            cursor: pointer;
            &:hover {
                background-color: $menu-line-color;
            }
            span {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                top:-1px;
                width: 18px;
                height:2px;
                background-color: mix(#fff, $btn-bg-color, 30%);
                &::before,&::after {
                    position: absolute;
                    top:-4px; left:0;
                    content: "";
                    width: 100%; height: 2px;
                    background-color: mix(#fff, $btn-bg-color, 30%);
                }
                &::after {
                    top:4px; left:0;
                }
            }
            display: inline-block;
            @media (min-width: $tablet-size){display: none}
            width: 30px;
            height: 30px;
        }
    }
}

.main-content {
    grid-area: main-content;
    margin-top: 20px;
    @media (min-width:$tablet-size){margin-top:32px}
    @media (min-width:$descktop-size) {
        margin-top: 52px;
        display: grid;
        grid-template-columns:642px 256px;
        justify-content: center;
        grid-column-gap: 27px;
    }
}

.blogposts-block {
    grid-row: 1;
    grid-column:1;

    .blogpost {
        @media (min-width:$descktop-size){
            display: block;
            grid-column: 1;
        }
        position: relative;
        .blogpost-content {
            margin: 0 auto;
            width: 288px;
            @media (min-width:$tablet-size) {
                width:640px;
            }
            .blogpost-header {
                text-align: center;
                @media (max-width: $tablet-size) {
                    background-color: $blogpost-header-bg;
                }
                text-align: center; @media(min-width:$tablet-size){text-align: left;}
                img, h2 {
                    margin: 0 auto;
                    display: block;
                    width:100%;
                }
                h2 {font: 18px/18px  $header-font;
                    font-weight: normal;
                    @media (max-width:$tablet-size) {width: 212px; }
                    color: $headers-color;
                    padding: 13px 0;
                }
            }
            .blogpost-info {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                @media (min-width:$tablet-size){justify-content: start;}
                padding:8px 6px;
                border-top: 1px solid $lines-color; @media (max-width:$tablet-size){border-top:none;}
                border-bottom: 1px solid $lines-color;
                .blogpost-author {
                    position: relative;
                    padding-left: 16px;
                    @media (min-width:$tablet-size){margin-left:24px;}
                    &::before{
                        content: "";
                        display:block;
                        position:absolute;
                        left:0;
                        width:8px;
                        height:15px;
                        background-image: url('../img/by-author-icon.png');
                    }
                }
                .blogpost-time {
                    position: relative;
                    padding-left: 16px;
                    &::before{
                        content: "";
                        display:block;
                        position:absolute;
                        top:3px; left:0;
                        width:11px;
                        height:11px;
                        background-image: url('../img/time-icon.png') ;
                    }
                }
            }
            p {
                text-align: justify;
                max-height: 200px;
                overflow: hidden;
                padding: 15px 0 55px 0; @media (max-width:$tablet-size){padding: 15px 0 0px 0;}
            }
        }
        .blogpost-social {
            max-width: 288px;
            margin: 0 auto {
                top: 20px;
                bottom: 35px;
            }
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (min-width:$tablet-size) {
                flex-direction: column;
                align-items: flex-end;
                height: 149px;
                margin: 0;
                position: absolute;
                top:0;
                right:0;
            }
            @media (min-width:$descktop-size) { margin: 0;
                position: absolute;
                flex-direction: row;
                justify-content: space-between;
                width: 253px;
                top:155px;
                right:0; }
            text-align: center;
            .social-icon {
                width:48px;
                height: 22px;
                font-size: 14px;
                border-radius: 3px;
                text-decoration: none;
                position: relative;
                p {
                    line-height: 14px;
                    text-align: end;
                    padding: 6px;
                    padding-top: 4px;
                    color:white;
                }
            }
            .social-icon.fb::before {top:1px;left:10px}
            .social-icon.tw::before {top:2px;left:3px}
            .social-icon.g::before {top:0px;left:-6px; }
            .social-icon.g{width:40px;overflow: hidden}
            .social-icon.vk::before {top:2px;left:6px;}
            .social-icon.ok{width:40px;}
            .social-icon.ok::before { top:0px;left:-6px; width:40px}

            @each $soc in fb, g, tw, vk, ok {
                .social-icon.#{$soc} {
                    &::before {
                        content: url('../img/#{$soc}-icon-char.png');
                        display: block;
                        position: absolute;
                    }
                    @media (max-width:$descktop-size){
                        @if $soc == fb{ background-color: $fb-color;
                            &:hover{ background-color:  mix(#fff, $fb-color, 30%); }
                        }
                        @else if $soc == g{background-color: $g-color;
                            &:hover{ background-color:  mix(#fff, $g-color, 30%); }
                        }
                        @else if $soc == tw{background-color:$tw-color;
                            &:hover{ background-color:  mix(#fff, $tw-color, 30%); }
                        }
                        @else if $soc == vk{background-color:$vk-color;
                            &:hover{ background-color:  mix(#fff, $vk-color, 30%); }
                        }
                        @else if $soc == ok{background-color:$ok-color;
                            &:hover{ background-color:  mix(#fff, $ok-color, 30%); }
                        }
                    }
                }
            }

            @media (min-width:$descktop-size){
                .social-icon{
                    background-color: $monochrome-btn-color;
                &:hover{ background-color:  mix(#fff, $monochrome-btn-color, 30%)}
                }
            }
        }
    }
    .blogpost:last-of-type .blogpost-content p  {
        padding-bottom: 0;
    }
}

.blog-related-content {
    grid-row: 1;
    grid-column:2;
    .about-block, .info-block  {
        display:none;
        margin-bottom: 35px;
        header {
            position: relative;
            padding-left: 40px;
            font: 18px/22px  $rel-content-font;
            font-weight: bold;
            text-transform: uppercase;
            height: 30px;
            color: $theme-color;
            box-shadow: inset 0px -4px 0px $theme-color;
            margin-bottom: 15px;
        }
        header::before{
            font: 18px $rel-content-font;
            text-align: center;
            color: white;
            top:0;left:0;
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: $theme-color;
        }
        @media (min-width:$descktop-size){
            display: block;
        }
        p {
            text-align: justify;
        }
    }
    .about-block {
            header:before{content:"?";}
    }
    .info-block {
        header:before{content:"!";}
    }
    .tags-block {
        display: none;
        @media (min-width:$tablet-size){
            display: block;
            margin-bottom: 33px;
        }
        @media (min-width:$descktop-size){
            display: block;
            text-align: left;
        }
        text-align: center;
        max-width:675px;
            margin: 0 auto;
        .tag-element {
            height:18px;
            display: inline-block;
            position: relative;
            background-color: $theme-color;
            text-decoration: none;
            font: 12px Arial;
            cursor: pointer;
            padding: 2px 16px 2px 14px;
            margin: 0px 12px 7px 0px;
            @media (min-width:$descktop-size) {
                padding-right: 16px;
                padding-left: 14px
            }
            color: white;
            &::before{
                content: "";
                position: absolute;
                right: -3px;
                top: 5px;
                width:7px;
                height: 7px;
                background-color: white;
                border-radius: 50%;
                z-index: 10;
            }
            &::after{
                content: "";
                position: absolute;
                top:0px;
                right:-10px;
                border: {
                    left: 10px solid $theme-color;
                    top: 9px solid transparent;
                    bottom:9px solid transparent;
                }
            }
        }
    }
}

.loading-spinner {
    text-align: center;
    margin-top: 26px;
    @media (min-width:$tablet-size){margin-top: 49px;}
    @media (min-width:$descktop-size){margin-top: 60px;}
    img {
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
