
    <div id="wordsTask" class = "task words-task-block">
        <div class="block description-block">
            <p id="description" class = "description" > </p>
        </div>

        <div class="block question-block">
            <p id="question" class = "question" > </p>
        </div>

        <ul  id="answerBlock" class="block answer-block sortable">
            <li tabindex="-1" class="ui-state-default game-btn variant-btn answer">1</li>
            <li tabindex="-1" class="ui-state-default game-btn variant-btn answer">2</li>
            <li tabindex="-1" class="ui-state-default game-btn variant-btn answer">3</li>
            <li tabindex="-1" class="ui-state-default game-btn variant-btn answer">4</li>
            
        </ul>

        <div  id="verdictBlock" class="block verdict-block">
            <p id="verdict"></p>
        </div>
        <div class="submit-block">
                <button id="readyBtn" class="game-btn">Ready</button>
        </div>
    </div>

