
    <div id="insertCharTask" class = "task insert-char-task-block">
        <div class="block description-block">
            <p id="description" class = "description" > </p>
        </div>

        <div class="block question-block">
            <p id="question" class = "question" > </p>
        </div>

        <div  id="answerBlock" class="block answer-block">
            <div class="game-btn variant-btn answer">1</div>
            <div class="game-btn variant-btn answer">2</div>
            <div class="game-btn variant-btn answer">3</div>
            <div class="game-btn variant-btn answer">4</div>
        </div>

        <div  id="verdictBlock" class="block verdict-block">
            <p id="verdict"></p>
        </div>
        <div class="submit-block"></div>
    </div>

